<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="center-box mt-4 p-4">
        <form [formGroup]="loginFormMpin" (ngSubmit)="login()" class="d-flex flex-column align-items-center">
            <h5 class="text-center mb-3">Enter Your Login Credentials</h5>
            <div class="formGroup d-flex flex-column w-100">
                <label for="mpin" class="mb-1">MPIN</label>
                <div class="input-wrapper">
                    <input type="mpin" id="mpin" formControlName="enteredMpin" placeholder="Enter MPIN"
                        class="form-control" />
                </div>
            </div>
            <div class="actions">
                <a class="link" [routerLink]="['/chooseLoginMethod']">Try another method</a>
                <a href="#" class="link forgot">Forgot Password?</a>
            </div>
            <p *ngIf="errorMessage" class="text-warning mt-2">{{ errorMessage }}</p>
            <button class="login-btn btn btn-primary mt-4 w-100" type="submit">
                Login
            </button>
        </form>
    </div>
</div>