.center-box{
    width: 320px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}
.form-chcek{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.form-check-input{
    margin-right: 10px;
}
/* 
.formGroup{
    width: 100%;
}

.formGroup input{
    text-align: center;
} */