<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="center-box mt-4 p-4">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center w-100">
            <h4 class="text-center mb-3">Create Password</h4>

            <!-- Password Input -->
            <div class="form-group w-100 position-relative">
                <label for="password" class="mb-1">Password</label>
                <div class="input-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                        placeholder="Enter Password" class="form-control">
                    <i class="fa position-absolute end-0 top-50 translate-middle-y"
                        [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                        (click)="togglePasswordVisibility('password')"></i>
                </div>
            </div>

            <!-- Confirm Password Input -->
            <div class="form-group w-100 position-relative mt-3">
                <label for="confirmPassword" class="mb-1">Confirm Password</label>
                <div class="input-wrapper">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                        formControlName="confirmPassword" placeholder="Confirm Password" class="form-control">
                    <i class="fa position-absolute end-0 top-50 translate-middle-y"
                        [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
                        (click)="togglePasswordVisibility('confirmPassword')"></i>
                </div>
            </div>

            <!-- Password Guidelines -->
            <p class="info-text text-center mt-3">
                A valid password must be at least 8 characters long, contain letters, numbers, symbols (special characters),
                and include at least one uppercase letter.
            </p>

            <!-- Error & Success Messages -->
            <p *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</p>
            <p *ngIf="successMessage" class="text-success mt-2">{{ successMessage }}</p>

            <!-- Submit Button -->
            <button class="next-btn btn btn-primary mt-4 w-100" type="submit" [disabled]="!passwordForm.valid">Next</button>
        </form>
    </div>
</div>
